.about-image img,
.why-image img {

    object-fit: cover;

}

.why-image img {
    height: 500px;
}


.why-section {
    background-color: #192437;
}

.header-text2 h6 {
    color: #ff5316;
}

.header-text2 h1 {
    font-weight: 700;
    font-size: 48px;
    color: #fff;
}
.why-section i{
    font-size: 42px;
    vertical-align: middle; 
    color: #ff5316 !important;
}

.header-text2 p {
    color: #fff;
}

.header-text2 h3 {
    color: #fff;
    margin-left: 10%;
}

.header-text2 h4 {
    color: #fff;
}

.header-text2 img {
    width: 70px;
    height: 70px;
}

.more {
    color: #ff5316 !important;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 10%;
}

.more i {
    font-size: 20px;
    margin-left: 6px;
}

@media(max-width:576px) {
    .header-text2 h1 {
        font-size: 30px !important;
    }
}

@media(max-width:768px) {
    .why-image img {
        height: 400px !important;
    }

    .why-image {
        margin-bottom: 10%;
    }
}