<!--SAME ALL PAGES-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--End of same all pages-->

    <!-- Block title -->

    <title>About page</title>

    <!--Endblock-->
    <!--Block css-->
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/about.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/recent-works-section.css">
    <link rel="stylesheet" href="../static/css/provide-section.css">
    <link rel="stylesheet" href="../static/css/partner-section.css">
    <link rel="stylesheet" href="../static/css/top-header.css">
    <!--Endblock-->
</head>


<body>


    <!--SAME ALL PAGES-->



    <!--Top Header-->

    <div class="top-header">
        <div class="container-fluid">
            <div class="row d-flex align-items-center justify-content-between">
                <div
                    class="col-md-8 col-sm-12 col-12 col-lg-9 col-xl-9 col-xxl-9 d-flex align-items-center working-time py-3">
                    <span>Working Time: Mon - Thu 9:00 AM - 7:00 PM</span>
                </div>
                <div class="col-md-4 col-sm-12 col-12 col-lg-3 col-xl-3 col-xxl-3 py-3 social-header-icons">
                    <div class="row w-100 d-flex align-items-center justify-content-between row-social">
                        <div class="col-md-5 col-sm-5 col-5 col-lg-5 col-xl-5 col-xxl-5 d-flex justify-content-start">
                            <span>Follow us: </span>
                        </div>
                        <div
                            class="col-md-7 col-sm-3 col-5 col-lg-7 col-xl-7 col-xxl-7 d-flex align-items-center justify-content-between">
                            <a href="">
                                <div><i class="fa fa-facebook-square" aria-hidden="true"></i></div>
                            </a>
                            <a href="">
                                <div><i class="fa fa-instagram" aria-hidden="true"></i></div>
                            </a>
                            <a href="">
                                <div><i class="fa fa-twitter" aria-hidden="true"></i></div>
                            </a>
                            <a href="">
                                <div><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                            </a>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>

    <!--Top Main header-->

    <div class="top-main-header py-4">
        <div class="container-fluid">
            <div class="row d-flex justify-content-between">
                <div class="col-8 col-sm-6  col-lg-2 logo-section col-md-3 py-3">
                    <img style="object-fit: cover;" src="https://templatekit.kulokale.com/plumbtion/wp-content/uploads/sites/7/2021/12/Logo.png"
                        class="w-100 logo" alt="">
                </div>
                <div class="col-12 col-sm-12 col-xl-3 col-lg-3 col-xxl-3  col-md-12 py-3 contact-icons">
                    <div class="w-100 d-flex align-items-center  justify-content-center contact-info-section">
                        <i class="fa fa-envelope-open-o" aria-hidden="true"></i>
                        <div class="d-flex flex-column mx-3">
                            <span class="contact-info-header text-muted">Send Your Mail</span>
                            <a href="mailto:Sales@ambulanceappliance.com" class="contact-info-text-dark">Sales@ambulanceappliance.com</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-xl-3 col-lg-3 col-xxl-3  col-md-12 py-3 contact-icons">
                    <div class="w-100 d-flex align-items-center justify-content-center contact-info-section">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <div class="d-flex flex-column mx-3">
                            <span class="contact-info-header text-muted">Phone number</span>
                            <a href="tel:(832)856-3222" class="contact-info-text-dark">(832) 856-3222</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-xl-3 col-lg-3 col-xxl-3  col-md-12 py-3 contact-icons">
                    <div class="w-100 d-flex align-items-center  justify-content-center contact-info-section">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <div class="d-flex flex-column mx-3">
                            <span class="contact-info-header text-muted">Office Address</span>
                            <a href="" class="contact-info-text-dark">Lorem ipsum dolor </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--Navigation bar-->

    <nav class="navbar navbar-expand-lg navbar-light py-3">
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item px-3">
                        <a class="nav-link active" aria-current="page" href="index.html">HOME</a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link" href="about.html">ABOUT US</a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link" href="services.html">SERVICES</a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link" href="contact.html">CONTACT</a>
                    </li>


                </ul>

            </div>
            <button class="btn fw-bold btn-quote px-4 py-3" role="button" data-bs-toggle="modal"
            data-bs-target="#exampleModal">
                Get a Free Quote
            </button>
        </div>
    </nav>


    <!--End of navigation bar-->



    <!--END OF SAME ALL PAGES-->


    <!--Block content-->

    <!--Title section-->

    <div class="title-section w-100">
        <div class="overlay py-5">
            <div class="container-fluid py-3">
                <h1 class="mb-3">About us</h1>
                <div class="title-divider mb-4"></div>
                <span class="title-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam, corporis.</span>
            </div>
        </div>
    </div>

    <!--About us-->

    <div class="about-us-section w-100 py-5">
        <div class="container-fluid py-5 about" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000">
            <div class="row pb-5 d-flex about-row d-flex justify-content-between align-items-center">
                <div
                    class="col-md-7 col-sm-10 col-12 col-lg-6 col-xl-5 col-xxl-5 about-image d-flex flex-column justify-content-center">
                    <h6 class="mb-4">OUR WORK PROCESS</h6>
                    <h1 class="mb-4">We Provide The Best Process Experience</h1>
                    <img class="w-100"
                        src="https://templatekit.kulokale.com/plumbtion/wp-content/uploads/sites/7/elementor/thumbs/smiling-male-plumber-in-uniform-holds-drain-pipe-resize-pipnelaqrotunyyrfd6foso03i9l60oeg27uaff21c.jpg"
                        alt="">
                </div>
                <div class="col-md-12 col-12 col-sm-12 col-lg-6 col-xl-6 col-xxl-6 header-text4">
                    
                    <p class="mb-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet corporis vel, magni aliquam alias, minus autem eius mollitia vitae similique illo asperiores iusto quisquam eum optio nulla ex recusandae quae nostrum! Excepturi repudiandae sit, consequatur iste nisi blanditiis dignissimos explicabo.
                    </p>
                    <div class="row">
                        <div class="col-md-6 d-flex align-items-center justify-content-start mb-4">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            <h5>Expert & Professional</h5>
                        </div>
                        <div class="col-md-6 d-flex align-items-center justify-content-start mb-4">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            <h5>Free Consultations</h5>
                        </div>
                        <div class="col-md-6 d-flex align-items-center justify-content-start mb-4">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            <h5>Best Quality Service
                            </h5>
                        </div>
                        <div class="col-md-6 d-flex align-items-center justify-content-start">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            <h5>Affordable Pricing</h5>
                        </div>
                    </div>
                    <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet possimus, minus corporis architecto deserunt aliquam, eligendi doloribus animi a dolore quis, beatae rerum suscipit et eius nam earum! Explicabo dolor tenetur corporis quam assumenda ipsa incidunt ipsam deleniti quo alias eius, voluptatibus nam optio molestias sunt libero dignissimos suscipit quod perspiciatis nostrum ut laudantium? Eligendi id molestias nisi eaque voluptatum hic quibusdam modi quam iure minus amet deleniti saepe commodi nemo, soluta rerum sed ullam fugiat quos, earum officiis eum.</p>
                    

                </div>

            </div>

        </div>

    </div>






     <!--Provide section-->

     <div class="provide-section w-100 pt-5">
        <div class="container-fluid py-5 provide" data-aos="fade-down" data-aos-easing="linear"
            data-aos-duration="1000">
            <div class="row py-5 d-flex provide-row d-flex justify-content-between">

                <div class="col-md-12 col-12 col-sm-12 col-lg-6 col-xl-6 col-xxl-6 header-text2">
                    <h6 class="mb-4">OUR WORK PROCESS</h6>
                    <h1 class="mb-4">We Provide The Best Process Experience</h1>
                    <div class="row">
                        <div class="col-md-12 d-flex align-items-center justify-content-start mb-4">
                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                            <div class="d-flex flex-column" style="margin-left: 15px;">
                                <h4>1. Lorem ipsum dolor.</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, aspernatur!</p>
                            </div>

                        </div>
                        <div class="col-md-12 d-flex align-items-center justify-content-start mb-4">
                            <i class="fa fa-truck" aria-hidden="true"></i>
                            <div class="d-flex flex-column" style="margin-left: 15px;">
                                <h4>1. Lorem ipsum dolor.</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, aspernatur!</p>
                            </div>
                        </div>
                        <div class="col-md-12 d-flex align-items-center justify-content-start mb-4">
                            <i class="fas fa-tools"></i>
                            <div class="d-flex flex-column" style="margin-left: 15px;">
                                <h4>1. Lorem ipsum dolor.</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, aspernatur!</p>
                            </div>
                        </div>
                    </div>


                </div>
                <div
                    class="col-md-7 col-sm-10 col-12 col-lg-6 col-xl-5 col-xxl-6 provide-image d-flex justify-content-center">
                    <img class="w-100"
                        src="https://templatekit.kulokale.com/plumbtion/wp-content/uploads/sites/7/elementor/thumbs/smiling-male-plumber-in-uniform-holds-drain-pipe-resize-pipnelaqrotunyyrfd6foso03i9l60oeg27uaff21c.jpg"
                        alt="">
                </div>
            </div>

        </div>

    </div>

    <!--End of Provide section-->

    <div class="our-team-section py-5 w-100" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000">
        <div class="container-fluid pt-5">
            <div class="row">
                <h6 class="mb-2 text-center">OUR BEST EMPLOYEES</h6>
                <h1 class="mb-4 text-center">Our Team</h1>
            <div class="col-md-6 col-12 col-sm-6 col-lg-4 col-xl-4 col-xxl-4">
                <div class="card team-card mb-5" style="width: 90%;">
                    <img src="https://templatekit.kulokale.com/plumbtion/wp-content/uploads/sites/7/elementor/thumbs/cheerful-male-plumber-holds-wrench-and-plunger-resize-pipfgtf3af8nla8zkiws92euvdq4pnjwkqp47r6cmo.jpg" class="card-img-top" style="height: 400px;" alt="...">
                    <div class="card-body py-4">
                      <h2 class="card-title">James Edward</h2>
                      <p class="card-text">Senior Plumber</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-6 col-12 col-sm-6 col-lg-4 col-xl-4 col-xxl-4">
                <div class="card team-card mb-5" style="width: 90%;">
                    <img src="https://templatekit.kulokale.com/plumbtion/wp-content/uploads/sites/7/elementor/thumbs/cheerful-male-plumber-holds-wrench-and-plunger-resize-pipfgtf3af8nla8zkiws92euvdq4pnjwkqp47r6cmo.jpg" class="card-img-top" style="height: 400px;" alt="...">
                    <div class="card-body py-4">
                      <h2 class="card-title">James Edward</h2>
                      <p class="card-text">Senior Plumber</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-6 col-12 col-sm-6 col-lg-4 col-xl-4 col-xxl-4">
                <div class="card team-card mb-5" style="width: 90%;">
                    <img src="https://templatekit.kulokale.com/plumbtion/wp-content/uploads/sites/7/elementor/thumbs/cheerful-male-plumber-holds-wrench-and-plunger-resize-pipfgtf3af8nla8zkiws92euvdq4pnjwkqp47r6cmo.jpg" class="card-img-top" style="height: 400px;" alt="...">
                    <div class="card-body py-4">
                      <h2 class="card-title">James Edward</h2>
                      <p class="card-text">Senior Plumber</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-6 col-12 col-sm-6 col-lg-4 col-xl-4 col-xxl-4">
                <div class="card team-card mb-5" style="width: 90%;">
                    <img src="https://templatekit.kulokale.com/plumbtion/wp-content/uploads/sites/7/elementor/thumbs/cheerful-male-plumber-holds-wrench-and-plunger-resize-pipfgtf3af8nla8zkiws92euvdq4pnjwkqp47r6cmo.jpg" class="card-img-top" style="height: 400px;" alt="...">
                    <div class="card-body py-4">
                      <h2 class="card-title">James Edward</h2>
                      <p class="card-text">Senior Plumber</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-6 col-12 col-sm-6 col-lg-4 col-xl-4 col-xxl-4">
                <div class="card team-card mb-5" style="width: 90%;">
                    <img src="https://templatekit.kulokale.com/plumbtion/wp-content/uploads/sites/7/elementor/thumbs/cheerful-male-plumber-holds-wrench-and-plunger-resize-pipfgtf3af8nla8zkiws92euvdq4pnjwkqp47r6cmo.jpg" class="card-img-top" style="height: 400px;" alt="...">
                    <div class="card-body py-4">
                      <h2 class="card-title">James Edward</h2>
                      <p class="card-text">Senior Plumber</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-6 col-12 col-sm-6 col-lg-4 col-xl-4 col-xxl-4">
                <div class="card team-card mb-5" style="width: 90%;">
                    <img src="https://templatekit.kulokale.com/plumbtion/wp-content/uploads/sites/7/elementor/thumbs/cheerful-male-plumber-holds-wrench-and-plunger-resize-pipfgtf3af8nla8zkiws92euvdq4pnjwkqp47r6cmo.jpg" class="card-img-top" style="height: 400px;" alt="...">
                    <div class="card-body py-4">
                      <h2 class="card-title">James Edward</h2>
                      <p class="card-text">Senior Plumber</p>
                    </div>
                  </div>
            </div>
        </div>

        </div>
    </div>



    <!--Premium partners-->

    <div class="partner-section w-100" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000">
        <div class="container-fluid">
            <div class="row d-flex align-items-center justify-content-between">
                <div class="col-md-2 d-flex align-items-center partner-text">
                    <span>Premium partners:</span>
                </div>
                <div class="col-md-10 d-flex align-items-center">
                    <div id="owl-demo2" class="owl-carousel owl-theme mt-4">
                        <div class="element">
                            <img class="w-100"
                                src="https://templatekit.kulokale.com/plumbtion/wp-content/uploads/sites/7/2022/01/logo-1.png"
                                alt="">
                        </div>
                        <div class="element">
                            <img class="w-100"
                                src="https://templatekit.kulokale.com/plumbtion/wp-content/uploads/sites/7/2022/01/logo-1.png"
                                alt="">
                        </div>
                        <div class="element">
                            <img class="w-100"
                                src="https://templatekit.kulokale.com/plumbtion/wp-content/uploads/sites/7/2022/01/logo-1.png"
                                alt="">
                        </div>
                        <div class="element">
                            <img class="w-100"
                                src="https://templatekit.kulokale.com/plumbtion/wp-content/uploads/sites/7/2022/01/logo-1.png"
                                alt="">
                        </div>
                        <div class="element">
                            <img class="w-100"
                                src="https://templatekit.kulokale.com/plumbtion/wp-content/uploads/sites/7/2022/01/logo-1.png"
                                alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--End of premium partners-->

    <div class="footer py-5 mt-5">
        <div class="container-fluid pt-5" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4 footer-element">
                    <h3 class="mb-4">Contact</h3>
                    <div class="d-flex w-100 align-items-center justify-content-start mb-3  first-element">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <a href=""><span>99 Broklyn New Street, USA</span></a>
                    </div>
                    <div class="d-flex w-100 align-items-center justify-content-start mb-3  first-element">
                        <i class="fa fa-envelope-open-o" aria-hidden="true" style="font-size: 25px !important;"></i>
                        <a href="mailto:"><span>support@plumbtion.com</span></a>
                    </div>
                    <div class="d-flex w-100 align-items-center justify-content-start mb-3  first-element">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <a href="tel:"><span>+ (100) 234-5678</span></a>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mb-3 social-footer-icons">

                        <a href="" class="head-icon">
                            <i class="fa fa-facebook-square icon py-3 px-3" aria-hidden="true"></i>
                        </a>
                        <a href="" class="head-icon">
                            <i class="fa fa-instagram icon py-3 px-3" aria-hidden="true"></i>
                        </a>
                        <a href="" class="head-icon">
                            <i class="fa fa-twitter icon py-3 px-3" aria-hidden="true"></i>
                        </a>
                        <a href="" class="head-icon">
                            <i class="fa fa-linkedin icon py-3 px-3" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-2 col-xxl-2 footer-element">
                    <h3 class="mb-4">Explore Us</h3>
                    <div class="d-flex w-100 align-items-center justify-content-between mb-3">
                        <a href="">About us</a>
                    </div>
                    <div class="d-flex w-100 align-items-center justify-content-between mb-3">
                        <a href="">Latest events</a>
                    </div>
                    <div class="d-flex w-100 align-items-center justify-content-between mb-3">
                        <a href="">How it works</a>
                    </div>
                    <div class="d-flex w-100 align-items-center justify-content-between mb-3">
                        <a href="">News & articles</a>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-2 col-xxl-2 footer-element">
                    <h3 class="mb-4">Services</h3>
                    <div class="d-flex w-100 align-items-center justify-content-between mb-3">
                        <a href="">Plumbing Repair</a>
                    </div>
                    <div class="d-flex w-100 align-items-center justify-content-between mb-3">
                        <a href="">Gas Line Repair</a>
                    </div>
                    <div class="d-flex w-100 align-items-center justify-content-between mb-3">
                        <a href="">Tubs & Showers</a>
                    </div>
                    <div class="d-flex w-100 align-items-center justify-content-between mb-3">
                        <a href="">Clogged Drains</a>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4 footer-element">
                    <h3 class="mb-4">NewsLetter</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, sequi?</p>
                    <form action="">
                        <input class="form-control py-3 px-4 w-100 mb-4" type="email" placeholder="Your email">
                        <button class="btn-subscribe w-100 py-2">Subscribe Now</button>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!--Modal-->

   
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" id="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-capitalize" id="exampleModalLabel">Get free estimate</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modal-body">
                    <form class="text-start">

                        <div class="mb-4">
                            <input type="text" placeholder="Your Name" class="form-control px-3 py-3"
                                id="exampleInputName" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-4">
                            <input type="tel" placeholder="Phone number" class="form-control px-3 py-3"
                                id="exampleInputPhone">
                        </div>
                        <div class="mb-4">
                            <textarea placeholder="Your Comment" class="form-control py-3" id="exampleFormMessage"
                                rows="3"></textarea>
                        </div>

                        <button type="button" id="modal-contact-form" class="btn btn-quote w-100 py-3">Get A
                            Quote</button>
                    </form>
                </div>

            </div>
        </div>
    </div>




    <!--endblock-->





    <!--SAME ALL PAGES-->

    <!--Javascript-->
    <script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"
        integrity="sha512-Zq2BOxyhvnRFXu0+WE6ojpZLOU2jdnqbrM1hmVdGzyeCa1DgM3X5Q4A/Is9xA1IkbUeDd7755dNNI/PzSf2Pew=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({ once: true });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>

    <!--Block js-->


    <script src="../static/js/filter.js"></script>

    <!--Endblock-->

</body>

</html>

<!--END OF SAME ALL PAGES-->